<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>ArtShow: Validate Import</title>
</head>
<body>
    {% import 'messagetext.' + language + '.html' as messagetext %}
    <h1>Validate Import</h1>

    <div class="infoBlock">
        {% if importFilename -%}
        <p><span>Imported File:</span> {{importFilename|default('?')}}</p>
        {%- else -%}
        <p>Text Import</p>
        {%- endif %}
    </div>
    <form class="main notPrintable" enctype="multipart/form-data">
        <input class="hidden" type="number" name="ImportChecksum" value="{{importChecksum}}" />
        <fieldset>
            <label for="owner">Owner Badge:</label>
            <input id="owner" name="Owner" type="number"
                   autocomplete="off" required
                   pattern="\d+" min="1" title="Owner Badge has to be greater than 1" />
        </fieldset>
        <fieldset>
            <input class="action" type="submit" formaction="{{targetCancelled}}" formnovalidate
                   value="Based to New Item" />
            <input class="action" type="submit" formaction="{{targetChangeFile}}" formnovalidate
                   value="Choose Different Input" />
            <input class="action" type="submit" formaction="{{targetApproved}}" formmethod="post"
                   value="Finish" />
        </fieldset>
    </form>

    {% if importItems|length > 0 -%}
    <div class="listSection">
        <table>
            <tr>
                <th>Import<br/>Result</th>
                <th>Author</th>
                <th>Title</th>
                <th>Initial<br/>Price</th>
                <th>Charity</th>
            </tr>
            {% for item in importItems -%}
            <tr>
                <td class="{{'error' if item.IRES != 'SUCCESS' else ''}}">{{messagetext.presentShort(item.IRES)}}</td>
                <td>{{item.AUTH|default('')}}</td>
                <td>{{item.TITL|default('')}}</td>
                {%- if item.IAMT != None -%}
                <td class="numerical">{{item.IAMT}} </td>
                {%- else -%}
                <td class="irrelevant"></td>
                {%- endif -%}
                {%- if item.CHAR != None -%}
                <td class="numerical">{{item.CHAR}} €</td>
                {%- else -%}
                <td class="irrelevant"></td>
                {%- endif -%}
            </tr>
            {%- endfor %}
        </table>
        <p class="note">Total items: {{importItems|length}}</p>
    </div>
    {%- else -%}
    <p>Import does not contain any items.</p>
    {%- endif %}
</body>
</html>