<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>ArtShow: Ověření importu</title>
</head>
<body>
    {% import 'messagetext.' + language + '.html' as messagetext %}
    <h1>Ověř import</h1>

    <div class="infoBlock">
        {% if importFilename -%}
        <p><span>Import souboru:</span> {{importFilename|default('?')}}</p>
        {%- else -%}
        <p>Import textu</p>
        {%- endif %}
    </div>
    <form class="main notPrintable" enctype="multipart/form-data">
        <input class="hidden" type="number" name="ImportChecksum" value="{{importChecksum}}" />
        <fieldset>
            <label for="owner">Vlastník:</label>
            <input id="owner" name="Owner" type="number"
                   autocomplete="off" required
                   pattern="\d+" min="1" title="Číslo visačky větší, než 1" />
        </fieldset>
        <fieldset>
            <input class="action" type="submit" formaction="{{targetCancelled}}" formnovalidate
                   value="Zpět na nový předmět" />
            <input class="action" type="submit" formaction="{{targetChangeFile}}" formnovalidate
                   value="Zvol jiný vstup" />
            <input class="action" type="submit" formaction="{{targetApproved}}" formmethod="post"
                   value="Dokonči" />
        </fieldset>
    </form>

    {% if importItems|length > 0 -%}
    <div class="listSection">
        <table>
            <tr>
                <th>Výsledek<br/>čtení</th>
                <th>Autor</th>
                <th>Název</th>
                <th>Počáteční<br/>cena</th>
                <th>Charita</th>
            </tr>
            {% for item in importItems -%}
            <tr>
                <td class="{{'error' if item.IRES != 'SUCCESS' else ''}}">{{messagetext.presentShort(item.IRES)}}</td>
                <td>{{item.AUTH|default('')}}</td>
                <td>{{item.TITL|default('')}}</td>
                {%- if item.IAMT != None -%}
                <td class="numerical">{{item.IAMT}} Kč</td>
                {%- else -%}
                <td class="irrelevant"></td>
                {%- endif -%}
                {%- if item.CHAR != None -%}
                <td class="numerical">{{item.CHAR}} %</td>
                {%- else -%}
                <td class="irrelevant"></td>
                {%- endif -%}
            </tr>
            {%- endfor %}
        </table>
        <p class="note">Celkem položek: {{importItems|length}}</p>
    </div>
    {%- else -%}
    <p>Soubor neobsahuje žádné položky.</p>
    {%- endif %}
</body>
</html>