<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/Artshow.css" />
    <meta charset="UTF-8" />
    <title>ArtShow: Uzávěrka předmětu</title>
    <script type="text/javascript">
    </script>
</head>
<body>
    <h1>Vyber předmět k uzavření</h1>
    <form class="main">
        <fieldset>
            <label for="itemCode">Kód předmětu:</label>
            <input id="itemCode" name="ItemCode" list="availableItems"
                   pattern="[1-9][0-9]*" autocomplete="off" autofocus
                   required/>
            <datalist id="availableItems">
                {% for item in availableItems -%}
                <option value="{{item.Code}}" label="{{item.Code}}: {{item.Author}} - {{item.Title}}"/>
                {%- endfor %}
            </datalist>
        </fieldset>
        <fieldset>
            <input class="hidden" type="submit" formaction="{{findTarget}}" formmethod="post"
                   value="Default Button" />
            <input class="action" type="submit" formaction="{{cancelledTarget}}" formnovalidate
                   value="Zpět na hlavní" />
            <input class="action" type="submit" formaction="{{findTarget}}" formmethod="post"
                   value="Uzavři předmět" />
        </fieldset>
    </form>
    <p>Zbývá uzavřít {{availableItems|length}} předmětů.</p>
</body>
</html>