<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>ArtShow: Select Import Source</title>
</head>
<body>
    <h1>Select Import Source</h1>

    <form class="main notPrintable" enctype="multipart/form-data">
        <fieldset>
            <input class="action" type="file" name="ImportFile"/><br/>
            <input class="action" type="submit" formaction="{{targetUploadFile}}" formmethod="post"
                   value="Use CSV File" />
        </fieldset>
        <fieldset>
            <textarea class="action" name="ImportText"
                      rows="20" cols="60"
                      maxlength="10000"></textarea><br/>
            <input class="action" type="submit" formaction="{{targetUploadText}}" formmethod="post"
                   value="Use Text" />
        </fieldset>
        <fieldset>
            <input class="action" type="submit" formaction="{{targetCancelled}}" formnovalidate
                   value="Go to New Item" />
        </fieldset>
    </form>
</body>
</html>