<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}"/>
    <meta charset="UTF-8"/>
    <title>ArtShow: Select Badge for Reconciliation</title>
</head>
<body>
<h1>Select Badge for Reconciliation</h1>
<form class="main">
    <fieldset>
        <div class="subblock">
            <label for="badge">Badge number:</label>
            <input id="badge" name="Badge" required
                autocomplete="off" autofocus list="attendees"
                title="Badge number."/>
            <datalist id="attendees">
                {% for attendee in attendees %}
                    <option value="{{ attendee.RegId }}" label="{{ attendee }}"/>
                {% endfor %}
            </datalist>
        </div>
        <div class="subblock">
            <input class="action" type="submit" formaction="{{findTarget}}" formmethod="post"
                value="Show Reconciliation"/>
        </div>
    </fieldset>
    <fieldset>
        <input class="action" type="submit" formaction="{{cancelledTarget}}" formnovalidate
            value="Go to Main" />
    </fieldset>
</form>
</body>
</html>