<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='Reconciliation.css')}}" />
    <meta charset="UTF-8"/>
    <title>ArtShow: Drucken der Beilegung (Deutch)</title>
</head>
<body class="narrow" onload="window.print()">
    <h1 class="notPrintable">Drucken der Beilegung (Deutch)</h1>
    <form class="notPrintable main" id="printControl" action="{{printedTarget}}" method="post">
        <input class="hidden" name="Badge" type="number"
               value="{{badge}}" />
        <input class="hidden" name="SummaryChecksum" type="number"
               value="{{summaryChecksum}}" />
        <fieldset>
            <input class="action" type="submit" formaction="{{printedTarget}}" formmethod="post"
                   value="Vergleich getdruckt" />
            <input class="action" type="submit" formaction="{{notprintedTarget}}" formmethod="post"
                   value="Zurück" />
        </fieldset>
        <fieldset>
            <input class="action" type="submit" formaction="{{cancelledTarget}}" formmethod="post"
                   value="Vergleich stornieren" />
        </fieldset>
    </form>

    <div class="notShown">

        <!-- Artshow Copy -->
        <h1>Beilegung</h1>
        <p>Zweitschrift für Artshow</p>
        <div class="receiptSection col2">
            <table>
                <tr class="hidden"><th>A</th><th>C</th></tr>
                <tr>
                    <td class="colA">Datum:</td>
                    <td class="colC">{{datetime.day}}. {{datetime.month}}. {{datetime.year}}</td>
                </tr>
                <tr>
                    <td class="colA">Zeit:</td>
                    <td class="colC">{{"%d:%02d"|format(datetime.hour, datetime.minute)}}</td>
                </tr>
                <tr>
                    <td class="colA">Badgenummer:</td>
                    <td class="colC">{{badge|default('?')}}</td>
                </tr>
            </table>
        </div>
        <div class="receiptSection col2">
            <h2>Zusammenfassung</h2>
            <table>
                <tr class="hidden"><th>A</th><th>C</th></tr>
                <tr>
                    <td class="colA">Verkauft für:</td>
                    <td class="colC">{{summary.GrossSaleAmount|default('?')}}€</td>
                </tr>
                <tr>
                    <td class="colA">Charity Abs.:</td>
                    <td class="colC">{{summary.CharityDeduction|default('?')}}€</td>
                </tr>
                <tr>
                    <td class="colA">Gekauft für:</td>
                    <td class="colC">{{summary.BoughtItemsAmount|default('?')}}€</td>
                </tr>
                {% if summary.TotalDueAmount >= 0 %}
                <tr>
                    <td class="colA">Bezahlt:</td>
                    <td class="colC">{{summary.TotalDueAmount|default(0)}}€</td>
                </tr>
                {% else %}
                <tr>
                    <td class="colA">Erhalten:</td>
                    <td class="colC">{{summary.TotalDueAmount|default(0) * -1}}€</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <p>In Dessau, {{datetime.day}}. {{datetime.month}}. {{datetime.year}}</p>
        <div class="signature"></div>
        <div class="pageBreak"></div>

        <!-- Badge Copy -->
        <h1>Beilegung</h1>
        <div class="receiptSection col2">
            <table>
                <tr class="hidden"><th>A</th><th>C</th></tr>
                <tr>
                    <td class="colA">Datum:</td>
                    <td class="colC">{{datetime.day}}. {{datetime.month}}. {{datetime.year}}</td>
                </tr>
                <tr>
                    <td class="colA">Zeit:</td>
                    <td class="colC">{{"%d:%02d"|format(datetime.hour, datetime.minute)}}</td>
                </tr>
                <tr>
                    <td class="colA">Badgenummer:</td>
                    <td class="colC">{{badge|default('?')}}</td>
                </tr>
            </table>
        </div>
        <div class="receiptSection col2">
            <h2>Zusammenfassung</h2>
            <table>
                <tr class="hidden"><th>A</th><th>C</th></tr>
                <tr>
                    <td class="colA">Verkauft für:</td>
                    <td class="colC">{{summary.GrossSaleAmount|default('?')}}€</td>
                </tr>
                <tr>
                    <td class="colA">Charity Abs.:</td>
                    <td class="colC">{{summary.CharityDeduction|default('?')}}€</td>
                </tr>
                <tr>
                    <td class="colA">Gekauft für:</td>
                    <td class="colC">{{summary.BoughtItemsAmount|default('?')}}€</td>
                </tr>
                {% if summary.TotalDueAmount >= 0 %}
                <tr>
                    <td class="colA">Bezahlt:</td>
                    <td class="colC">{{summary.TotalDueAmount|default(0)}}€</td>
                </tr>
                {% else %}
                <tr>
                    <td class="colA">Erhalten:</td>
                    <td class="colC">{{summary.TotalDueAmount|default(0) * -1}}€</td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% if summary.AvailBoughtItems|length > 0 %}
        <div class="receiptSection col2">
            <h2>Gekaufte Objekte</h2>
            <table>
                <tr>
                    <th class="colA">Titel</th>
                    <th class="colC">Summe</th>
                </tr>
                {% for item in summary.AvailBoughtItems %}
                <tr>
                    <td class="colA">{{item.Title}}</td>
                    <td class="colC">{{item.Amount}} Kč</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if summary.AvailUnsoldItems|length > 0 %}
        <div class="receiptSection col1">
            <h2>Zurückgegebene unverkaufte Objekte</h2>
            <table>
                <tr>
                    <th class="colA">Titel</th>
                </tr>
                {% for item in summary.AvailUnsoldItems %}
                <tr>
                    <td class="colA">{{item.Title}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if summary.DeliveredSoldItems|length > 0 %}
        <div class="receiptSection col2">
            <h2>Verkäufe</h2>
            <table>
                <tr>
                    <th class="colA">Titel</th>
                    <th class="colC">Summe</th>
                </tr>
                {% for item in summary.DeliveredSoldItems %}
                <tr>
                    <td class="colA">{{item.Title}}</td>
                    <td class="colC">{{item.NetAmount}}€</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

    </div>
</body>
</html>