<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='Reconciliation.css')}}" />
    <meta charset="UTF-8"/>
    <title>ArtShow: Reconciliation Printing (English)</title>
</head>
<body class="narrow" onload="window.print()">
    <h1 class="notPrintable">Reconciliation Printing (English)</h1>
    <form class="notPrintable main" id="printControl" action="{{printedTarget}}" method="post">
        <input class="hidden" name="Badge" type="number"
               value="{{badge}}" />
        <input class="hidden" name="SummaryChecksum" type="number"
               value="{{summaryChecksum}}" />
        <fieldset>
            <input class="action" type="submit" formaction="{{printedTarget}}" formmethod="post"
                   value="Reconciliation Printed OK" />
            <input class="action" type="submit" formaction="{{notprintedTarget}}" formmethod="post"
                   value="Go Back" />
        </fieldset>
        <fieldset>
            <input class="action" type="submit" formaction="{{cancelledTarget}}" formmethod="post"
                   value="Cancel Reconciliation" />
        </fieldset>
    </form>

    <div class="artshowOverview notShown">
        <pre>
Artshow Overview
{{datetime|dateformat("%B %d, %Y, %H:%M")}}
Attendee: {{badge|reg_id_to_attendee}}

{% if summary.AvailUnsoldItems -%}
Unsold items which were returned:
{{ summary.AvailUnsoldItems|unsold_table(language) }}

{% endif -%}
{% if summary.DeliveredSoldItems -%}
Sold items:
{{ summary.DeliveredSoldItems|sold_table(summary.GrossSaleAmount, summary.CharityDeduction, language) }}

{{ 'Charity contribution is given by the seller after paying out the income to the seller.'|textwrap(40) }}

{% endif -%}
{% if summary.AvailBoughtItems -%}
Bought items:
{{ summary.AvailBoughtItems|bought_table(summary.BoughtItemsAmount, language) }}

{% endif -%}

Cash:
{{ summary.TotalDueAmount|cash_table(language) }}

{% if summary.DeliveredSoldItems or summary.AvailBoughtItems -%}
{{ 'By selling and/or buying items in Artshow, buyers and sellers acknowledge that...'|textwrap(40) }}

{% endif -%}
{% if summary.DeliveredSoldItems -%}
{{ 'By selling items I agree that...'|textwrap(40) }}

{% endif -%}
{% if summary.AvailBoughtItems -%}
{{ 'By accepting bought items I agree that...'|textwrap(40) }}

{% endif -%}
This document is not a legal invoice.
</pre>
    </div>
</body>
</html>