<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}"/>
    <meta charset="UTF-8"/>
    <title>ArtShow: Auctioning Item</title>
</head>
<body>
<h1>Auctioning Item {{item.Code|default('?')}}</h1>
<div class="infoBlock">
    <p><span>Author:</span> {{item.Author|default('?')}}</p>
    <p><span>Title:</span> {{item.Title|default('?')}}</p>
    <p><span>Current Price:</span> {{item.AmountInAuction|default('?')}} €</p>
</div>
<form class="main" method="post">
    <input class="hidden" type="text" name="ItemCode" value="{{item.Code|default('')}}"/>
    <fieldset>
        <div class="subblock">
            <label for="amount">New Price:</label>
            <input id="amount" name="NewAmount" type="number" value="" required
                autocomplete="off" autofocus
                min="{{item.AmountInAuction|default('1')}}" pattern="\d+" title="Minimal price is {{item.AmountInAuction}}."/>
        </div>
        <div class="subblock">
            <input class="action" type="submit" formaction="{{newAmountTarget}}"
                value="Update Price"/>
        </div>
    </fieldset>
    <fieldset>
        <input class="action" type="submit" formaction="{{auctionedTarget}}" formnovalidate
            value="Sold For {{item.AmountInAuction}} €"/>
    </fieldset>
    <fieldset>
        <input class="action" type="submit" formaction="{{cancelledTarget}}" formnovalidate
            value="Select Different Item"/>
    </fieldset>
</form>
</body>
</html>