<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}"/>
    <meta charset="UTF-8"/>
    <title>ArtShow: Aukce předmětu</title>
</head>
<body>
<h1>Aukce předmětu {{item.Code|default('?')}}</h1>
<div class="infoBlock">
    <p><span>Autor:</span> {{item.Author|default('?')}}</p>
    <p><span>Název:</span> {{item.Title|default('?')}}</p>
    <p><span>Stávající cena:</span> {{item.AmountInAuction|default('?')}} Kč</p>
</div>
<form class="main" method="post">
    <input class="hidden" type="text" name="ItemCode" value="{{item.Code|default('')}}"/>
    <fieldset>
        <div class="subblock">
            <label for="amount">Nová cena:</label>
            <input id="amount" name="NewAmount" type="number" value="" required
                autocomplete="off" autofocus
                min="{{item.AmountInAuction|default('1')}}" pattern="\d+" title="Nejmenší monžná cena je {{item.AmountInAuction}} Kč."/>
        </div>
        <div class="subblock">
            <input class="action" type="submit" formaction="{{newAmountTarget}}"
                value="Změn cenu"/>
        </div>
    </fieldset>
    <fieldset>
        <input class="action" type="submit" formaction="{{auctionedTarget}}" formnovalidate
            value="Vydraženo za {{item.AmountInAuction}} Kč"/>
    </fieldset>
    <fieldset>
        <input class="action" type="submit" formaction="{{cancelledTarget}}" formnovalidate
            value="Jiný předmět"/>
    </fieldset>
</form>
</body>
</html>