<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>ArtShow: Select Item to Auction</title>
</head>
<body>
    <h1>Select Item to Auction</h1>
    <form class="main notPrintable">
        <fieldset>
            <label for="itemCode">Item Code:</label>
            <input id="itemCode" name="ItemCode" list="availableItems"
                   pattern="[1-9][0-9]*" autocomplete="off" autofocus
                   required/>
            <datalist id="availableItems">
                {% for item in availableItems -%}
                <option value="{{item.Code}}" label="{{item.Code}}: {{item.Author}} - {{item.Title}}"/>
                {%- endfor %}
            </datalist>
        </fieldset>
        <fieldset>
            <input class="hidden" type="submit" formaction="{{findTarget}}" formmethod="post"
                   value="Default Button" />
            <input class="action" type="submit" formaction="{{cancelledTarget}}" formnovalidate
                   value="Go to Main" />
            <input class="action" type="submit" formaction="{{findTarget}}" formmethod="post"
                   value="Send Item to Auction" />
        </fieldset>
    </form>
    <p>There are {{availableItems|length}} item(s) to be auctioned.</p>
</body>
</html>