<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>ArtShow: Seznam předmětů do aukce</title>
    <script type="text/javascript">
        function printAndSubmit()
        {
            window.print();
            document.getElementById("main").submit();
        }
    </script>
</head>
<body>
    <h1>Seznam předmětů do aukce</h1>

    <form class="main notPrintable" action="{{targetPrinted}}">
        <fieldset>
            <input class="action" type="submit" formaction="{{targetCancelled}}" formnovalidate
                   value="Zpět na hlavní" />
            <input class="action" type="submit" formaction="{{targetPrinted}}"
                   value="Tiskni"
                   onclick="printAndSubmit()" />
        </fieldset>
    </form>

    {% if items|length > 0 %}
    <p>Celkem položek: {{items|length}}</p>
    <div class="listSection receiptSection">
        <table class="withBorder">
            <tr>
                <th>Kód</th>
                <th>Author</th>
                <th>Název</th>
                <th>Cena</th>
                <th>Charita</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.Code}}</td>
                <td>{{item.Author}}</td>
                <td>{{item.Title}}</td>
                <td class="numerical">{{item.Amount}} Kč</td>
                <td class="numerical">{{item.Charity}} %</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>Nejsou žádné předměty ke dražbě</p>
    <p>{{items}}</p>
    {% endif %}
</body>
</html>