<!doctype html>
<html>
<head>
    <title>ArtShow</title>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='StatusFrame.css')}}"></link>
    <script type="text/javascript" src="{{url_for('.static', filename='StatusFrame.js')}}"></script>
    <script type="text/javascript">
        var g_getStatusUrl = "{{url_for('.getStatus')}}";
    </script>
</head>
<body onLoad="onLoad()">
    <div class="main">
        <object id="id_frame"
            type="image/svg+xml"
            data="{{url_for('.static', filename='StatusFrame.svg')}}">
        </object>
    </div>
</body>
</html>
