<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>Artshow: Natavení</title>
</head>
<body>
    <h1>Natavení</h1>

    {% if message -%}
        <div class="popupMessage">
            {% import 'messagetext.' + language + '.html' as messagetext %}
            {{messagetext.present(message, None, None, None, None)}}
        </div>
    {%- endif %}

    <form class="main" method="post">
        <!-- Currency -->
        {% if currencyInfo -%}
        <fieldset>
            <legend>Převodní koeficienty pro měny</legend>
            <p>Níže uvedená číslo vyjadřují cenu jednotky jiné měny v primární měně.
            Primární měna vždy <em>musí být nastavena na 1</em>.
            <br/>Příklad:
            Pokud je Kč primární měnou a číslo uvedené u sekundární měny (€) je 2,5,
            pak 1€ je ekvivalentem 2,5 Kč.</p>

            <div class="subblock">
                <label for="currency_{{currencyInfo[0].Code}}">1. {{currencyInfo[0].Description}}</label>
                <input id="currency_{{currencyInfo[0].Code}}" name="Currency_AmountInPrimary_{{currencyInfo[0].Code}}" type="number" value="{{currencyInfo[0].AmountInPrimary}}"
                       autocomplete="off" required
                       min="1" max="1" step="any"
                       title="Koeficicient u primární měna musí být 1." />
            </div>
            <div class="subblock">
                <label for="currency_{{currencyInfo[1].Code}}">2. {{currencyInfo[1].Description}}</label>
                <input id="currency_{{currencyInfo[1].Code}}" name="Currency_AmountInPrimary_{{currencyInfo[1].Code}}" type="number" value="{{currencyInfo[1].AmountInPrimary}}"
                       autocomplete="off" required
                       min="0" max="1000000" step="any" />
            </div>
            <div class="subblock">
                <label for="currency_{{currencyInfo[2].Code}}">3. {{currencyInfo[2].Description}}</label>
                <input id="currency_{{currencyInfo[2].Code}}" name="Currency_AmountInPrimary_{{currencyInfo[2].Code}}" type="number" value="{{currencyInfo[2].AmountInPrimary}}"
                       autocomplete="off" required
                       min="0" max="1000000" step="any" />
            </div>
        </fieldset>
        {%- endif %}
        <!-- Action -->
        <fieldset>
            <input class="action" type="submit" formaction="{{cancelledTarget}}" formnovalidate
                   value="Cancel" />
            <input class="action" type="submit" formaction="{{saveSettingsTarget}}"
                   value="Save Settings" />
        </fieldset>
    </form>
</body>
</html>