<?xml version="1.0" encoding="utf-8"?>
<Wix RequiredVersion="3.8.1128.0"
    xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Version.wxi ?>    

    <Product Id="{5DE3D850-6E49-4487-BE2E-1A283422B947}"
        UpgradeCode="{AEA60A19-9B58-47da-88E1-2CFA3CB7F47E}"
        Language="1033"
        Manufacturer="Unofficial Cesfur"
        Name="Artshow Keeper"
        Version="$(var.Version)">

        <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine"/>
        <Media Id="1" Cabinet="Artshow.cab" EmbedCab="yes" />
        
        <Upgrade Id="{AEA60A19-9B58-47da-88E1-2CFA3CB7F47E}"> 
            <UpgradeVersion
                OnlyDetect="yes"
                Minimum="$(var.Version)"
                Property="NEWERVERSIONDETECTED"
                IncludeMinimum="no" />
            <UpgradeVersion
                OnlyDetect="no"
                Maximum="$(var.Version)"
                Property="OLDERVERSIONBEINGUPGRADED"
                IncludeMaximum="no" />
        </Upgrade>         
                
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="ApplicationRootDir" Name="Artshow">
                    <Directory Id="InstallHelperDir" Name="install">
                        <Component Id="InstallHelper" Guid="{8AB05CC7-67EA-4a00-9C8F-C4F59AF6FB27}">
                            <File Id="Install_CheckVersion" Source="$(var.SolutionDir)install/checkversion.py" KeyPath="yes"/>
                            <File Id="Install_CheckPython" Source="$(var.SolutionDir)install/checkpython.vbs"/>
                        </Component>
                        <Directory Id="InstallDependenciesDir" Name="dependencies">
                            <Component Id="InstallDependencies" Guid="{607474B2-1C27-4d60-AA16-CA758518E51C}">
                                <File Source="$(var.SolutionDir)install/dependencies/setuptools-3.4.1.zip"/>
                                <File Source="$(var.SolutionDir)install/dependencies/werkzeug-0.9.4.zip"/>
                                <File Source="$(var.SolutionDir)install/dependencies/itsdangerous-0.24.zip"/>
                                <File Source="$(var.SolutionDir)install/dependencies/markupSafe-0.19.zip"/>
                                <File Source="$(var.SolutionDir)install/dependencies/jinja2-2.7.2.zip"/>
                                <File Source="$(var.SolutionDir)install/dependencies/flask-0.10.zip"/>
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="StartupDir" Name="startup">
                        <Component Id="Startup" Guid="{55EFBDCD-E86C-41c9-A37C-6AAD21735B18}">
                            <File Id="Startup_StartArtshow" Source="$(var.SolutionDir)startup/startartshow.vbs" KeyPath="yes">
                                <Shortcut Id="Startup_StartArtshow_Shortcut"
                                          Name="Artshow Keeper"
                                          Description="Artshow Keeper Con Tool"
                                          WorkingDirectory="ApplicationRootDir"
                                          Directory="ProgramMenuDir"
                                          Advertise="yes"
                                          Icon="Startup_StartArtshow.ico"/>
                            </File>
                        </Component>
                    </Directory>
                    <Directory Id="AppDir" Name="app">
                        <Directory Id="CoreStaticDir" Name="static"/>
                        <Directory Id="CoreTemplatesDir" Name="templates"/>
                        <Directory Id="CommonDir" Name="common"/>
                        <Directory Id="ModelDir" Name="model"/>
                        <Directory Id="AuctionDir" Name="auction">
                            <Directory Id="AuctionStaticDir" Name="static"/>
                            <Directory Id="AuctionTemplatesDir" Name="templates"/>
                        </Directory>
                        <Directory Id="ItemsDir" Name="items">
                            <Directory Id="ItemsStaticDir" Name="static"/>
                            <Directory Id="ItemsTemplatesDir" Name="templates"/>
                        </Directory>
                        <Directory Id="ReconciliationDir" Name="reconciliation">
                            <Directory Id="ReconciliationStaticDir" Name="static"/>
                            <Directory Id="ReconciliationTemplatesDir" Name="templates"/>
                        </Directory>
                        <Directory Id="SettingsDir" Name="settings">
                            <Directory Id="SettingsStaticDir" Name="static"/>
                            <Directory Id="SettingsTemplatesDir" Name="templates"/>
                        </Directory>
                        <Directory Id="ControllerDir" Name="controller"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="CommonAppDataFolder">
                <Directory Id="DataDir" Name="Artshow">
                    <Component Id="DataCore" Guid="{F12DF5DC-20FF-48ca-AEBC-9ECC4221CD83}">
                        <CreateFolder/>
                    </Component>
                    <Component Id="BasicData" Guid="{B72B83B2-B424-4002-8558-9A6424C19EF5}">
                        <File Source="$(var.SolutionDir)deployment/currency.xml"/>
                    </Component>
                    <Component Id="DemoData" Guid="{A5FFBCE3-2678-4f47-BAD4-42A15B686BD7}">
                        <File Source="$(var.SolutionDir)deployment/demo_artshowitems.xml" Name="artshowitems.xml"/>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Con Tools">
                    <Component Id="StartMenuShortcut" Guid="{8523B7FE-9A56-435e-A997-045E254AAD5A}">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
                        <RegistryValue Root="HKMU" Key="Software\Cesfur\ArtshowKeeper" Type="string" Value="" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Icon Id="Startup_StartArtshow.ico" SourceFile="$(var.SolutionDir)startup/res/icon.ico"/>
        <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)startup/res/wixUIBanner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)startup/res/wixUIDialog.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)doc/license_gpl.rtf" />

        <DirectoryRef Id="AppDir">
            <Component Id="Core" Guid="{6E3E9E09-F519-4eae-A742-2FD9914EE1DA}">
                <File Id="Core___init__" Source="$(var.SolutionDir)app/__init__.py"/>
                <File Source="$(var.SolutionDir)app/main.py" KeyPath="yes"/>
                <File Source="$(var.SolutionDir)app/config.py"/>                
            </Component>
            <Component Id="CoreIni" Guid="{1B1DF4E5-BEE3-4e01-AFE0-BF579454AE09}">            
                <CreateFolder/>
                <IniFile Id="Ini_DefaultLanguage" Action="addLine" Directory="AppDir" Section="DEFAULT" Name="config.ini"
                    Key="DEFAULT_LANGUAGE" Value="[DEFAULT_LANGUAGE]"/>
                <IniFile Id="Ini_DataFolder" Action="addLine" Directory="AppDir" Section="DEFAULT" Name="config.ini"
                    Key="DATA_FOLDER" Value="[DataDir]"/>
                <IniFile Id="Ini_LogFile" Action="addLine" Directory="AppDir" Section="DEFAULT" Name="config.ini"
                    Key="LOG_FILE" Value="[DataDir]artshow.log"/>
                <IniFile Id="Ini_Currency" Action="addLine" Directory="AppDir" Section="DEFAULT" Name="config.ini"
                    Key="CURRENCY" Value="[DEFAULT_CURRENCY_1],[DEFAULT_CURRENCY_2],[DEFAULT_CURRENCY_3]"/>
                <IniFile Id="Ini_SecretKey" Action="addLine" Directory="AppDir" Section="DEFAULT" Name="config.ini"
                    Key="SECRET_KEY" Value="[SECRET_KEY]"/>
            </Component>
        </DirectoryRef>        
        <DirectoryRef Id="CoreStaticDir">
            <Component Id="CoreStatic" Guid="{5525A256-9387-4191-AA4C-C4BD19A3191C}">
                <File Id="Core_Static_Artshow" Source="$(var.SolutionDir)app/static/Artshow.css"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="CoreTemplatesDir">
            <Component Id="CoreTemplates" Guid="{95143405-EFE2-4648-B00F-4E0FD1DF87DE}">
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/templates/itemstate.cz.html"/>
                <File Source="$(var.SolutionDir)app/templates/main.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/templates/message.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/templates/messagetext.cz.html"/>
                <!-- EN -->
                <File Source="$(var.SolutionDir)app/templates/itemstate.en.html"/>
                <File Source="$(var.SolutionDir)app/templates/main.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/templates/message.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/templates/messagetext.en.html"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/templates/itemstate.de.html"/>
                <File Source="$(var.SolutionDir)app/templates/main.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/templates/message.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/templates/messagetext.de.html"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="CommonDir">
            <Component Id="Common" Guid="{0244D2F8-F691-4d89-9225-C2471461DCF5}">
                <File Id="Common___init__" Source="$(var.SolutionDir)app/common/__init__.py"/>
                <File Source="$(var.SolutionDir)app/common/convert.py"/>
                <File Source="$(var.SolutionDir)app/common/parameter.py"/>
                <File Source="$(var.SolutionDir)app/common/response.py"/>
                <File Source="$(var.SolutionDir)app/common/result.py"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ControllerDir">
            <Component Id="Controller" Guid="{B543B658-C392-471e-B23B-93D60357380C}">
                <File Id="Controller___init__" Source="$(var.SolutionDir)app/controller/__init__.py"/>
                <File Source="$(var.SolutionDir)app/controller/format.py"/>
            </Component>
        </DirectoryRef>        
                    
        <DirectoryRef Id="ModelDir">
            <Component Id="Model" Guid="{DB7790C9-EBAA-4f27-B4EC-CF0951E9E40F}">
                <File Id="Model___init__" Source="$(var.SolutionDir)app/model/__init__.py"/>
                <File Source="$(var.SolutionDir)app/model/currency.py"/>
                <File Source="$(var.SolutionDir)app/model/dataset.py"/>
                <File Source="$(var.SolutionDir)app/model/field_value_error.py"/>
                <File Source="$(var.SolutionDir)app/model/item.py"/>
                <File Source="$(var.SolutionDir)app/model/model.py"/>
                <File Source="$(var.SolutionDir)app/model/session.py"/>
                <File Source="$(var.SolutionDir)app/model/summary.py"/>
                <File Source="$(var.SolutionDir)app/model/table.py"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="AuctionDir">
            <Component Id="Auction" Guid="{4B192006-B589-4ada-90F4-D170924A7115}">
                <File Id="Auction___init__" Source="$(var.SolutionDir)app/auction/__init__.py"/>
                <File Source="$(var.SolutionDir)app/auction/auction_controller.py"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="AuctionStaticDir">
            <Component Id="AuctionStatic" Guid="{E4F51A07-D464-432e-AD2F-BF388DB5986A}">
                <File Source="$(var.SolutionDir)app/auction/static/StatusFrame.css"/>
                <File Source="$(var.SolutionDir)app/auction/static/StatusFrame.js"/>
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/auction/static/StatusFrame.svg"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/auction/static/StatusFrame.de.svg"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="AuctionTemplatesDir">
            <Component Id="AuctionTemplates" Guid="{6D646043-59A4-4b09-AD7E-B354B012D626}">
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/auction/templates/auctionitem.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/finalizeitem.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/finditemtoauction.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/getstatus.admin.cz.xml"/>
                <File Source="$(var.SolutionDir)app/auction/templates/listauctionitems.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/showstatus.admin.cz.html"/>
                <!-- EN -->
                <File Source="$(var.SolutionDir)app/auction/templates/auctionitem.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/finalizeitem.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/finditemtoauction.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/getstatus.admin.en.xml"/>
                <File Source="$(var.SolutionDir)app/auction/templates/listauctionitems.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/showstatus.admin.en.html"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/auction/templates/auctionitem.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/finalizeitem.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/finditemtoauction.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/getstatus.admin.de.xml"/>
                <File Source="$(var.SolutionDir)app/auction/templates/listauctionitems.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/auction/templates/showstatus.admin.de.html"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ItemsDir">
            <Component Id="Items" Guid="{1B6BFDEF-F947-4776-A64F-6BC1C65D7909}">
                <File Id="Items___init__" Source="$(var.SolutionDir)app/items/__init__.py"/>
                <File Source="$(var.SolutionDir)app/items/items_controller.py"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ItemsStaticDir">
            <Component Id="ItemsStatic" Guid="{DC1C55D9-C5AF-4012-8A31-E29322BEAF8D}">
                <File Source="$(var.SolutionDir)app/items/static/Bidsheets.css"/>
                <File Source="$(var.SolutionDir)app/items/static/Bidsheets.xsl"/>
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/items/static/BidsheetFrame.svg"/>
                <File Source="$(var.SolutionDir)app/items/static/BidsheetNoSaleFrame.svg"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/items/static/BidsheetFrame.de.svg"/>
                <File Source="$(var.SolutionDir)app/items/static/BidsheetNoSaleFrame.de.svg"/>

                <File Source="$(var.SolutionDir)app/items/static/EditItem.css"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ItemsTemplatesDir">
            <Component Id="ItemsTemplates" Guid="{6C69BF2B-15FE-4e3a-A96B-9CE127550760}">
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/items/templates/approveimport.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/bidsheets.admin.cz.xml"/>
                <File Source="$(var.SolutionDir)app/items/templates/edititem.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/finditemtoclose.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/listitems.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/reportimport.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/selectimportfile.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/updateitemtoclose.admin.cz.html"/>
                <!-- EN -->
                <File Source="$(var.SolutionDir)app/items/templates/approveimport.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/bidsheets.admin.en.xml"/>
                <File Source="$(var.SolutionDir)app/items/templates/edititem.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/finditemtoclose.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/listitems.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/reportimport.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/selectimportfile.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/updateitemtoclose.admin.en.html"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/items/templates/approveimport.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/bidsheets.admin.de.xml"/>
                <File Source="$(var.SolutionDir)app/items/templates/edititem.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/finditemtoclose.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/listitems.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/reportimport.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/selectimportfile.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/items/templates/updateitemtoclose.admin.de.html"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ReconciliationDir">
            <Component Id="Reconciliation" Guid="{47B668BB-3C99-4303-8FEE-5049754AF484}">
                <File Id="Reconciliation___init__" Source="$(var.SolutionDir)app/reconciliation/__init__.py"/>
                <File Source="$(var.SolutionDir)app/reconciliation/reconciliation_controller.py"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ReconciliationStaticDir">
            <Component Id="ReconciliationStatic" Guid="{BEC7D3D2-503C-48bf-AB8A-06DA0A11AFBF}">
                <File Source="$(var.SolutionDir)app/reconciliation/static/Reconciliation.css"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ReconciliationTemplatesDir">
            <Component Id="ReconciliationTemplates" Guid="{5D80198D-4411-4a3f-BA3C-DD83F644C907}">
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/reconciliation/templates/drawersummary.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/findbadgetoreconciliate.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/receipt.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/reconciliation.admin.cz.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/runneroverview.admin.cz.html"/>
                <!-- EN -->
                <File Source="$(var.SolutionDir)app/reconciliation/templates/drawersummary.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/findbadgetoreconciliate.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/receipt.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/reconciliation.admin.en.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/runneroverview.admin.en.html"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/reconciliation/templates/drawersummary.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/findbadgetoreconciliate.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/receipt.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/reconciliation.admin.de.html"/>
                <File Source="$(var.SolutionDir)app/reconciliation/templates/runneroverview.admin.de.html"/>
            </Component>
        </DirectoryRef>
        
        <DirectoryRef Id="SettingsDir">
            <Component Id="Settings" Guid="{60508248-A67C-4373-BDEB-9281152F51BF}">
                <File Id="Settings___init__" Source="$(var.SolutionDir)app/settings/__init__.py"/>
                <File Source="$(var.SolutionDir)app/settings/settings_controller.py"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="AuctionStaticDir">
            <Component Id="SettingsStatic" Guid="{3F360E8E-7213-4915-A15E-4F295BFD37F2}">
                <CreateFolder/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="AuctionTemplatesDir">
            <Component Id="SettingsTemplates" Guid="{95D5114C-D5FA-4517-B665-D3A6B2A15EAB}">
                <!-- CZ -->
                <File Source="$(var.SolutionDir)app/settings/templates/viewsettings.admin.cz.html"/>
                <!-- EN -->
                <File Source="$(var.SolutionDir)app/settings/templates/viewsettings.admin.en.html"/>
                <!-- DE -->
                <File Source="$(var.SolutionDir)app/settings/templates/viewsettings.admin.de.html"/>
            </Component>
        </DirectoryRef>
        
        <Feature Id="ArtshowCore" Title="Artshow Core" Level="1" Display="expand">
            <ComponentRef Id="InstallHelper" />
            <ComponentRef Id="InstallDependencies" />

            <ComponentRef Id="Startup" />

            <ComponentRef Id="Core" />
            <ComponentRef Id="CoreIni" />
            <ComponentRef Id="CoreStatic" />
            <ComponentRef Id="CoreTemplates" />

            <ComponentRef Id="Common" />
            <ComponentRef Id="Model" />
            <ComponentRef Id="Controller" />

            <ComponentRef Id="Auction" />
            <ComponentRef Id="AuctionStatic" />
            <ComponentRef Id="AuctionTemplates" />

            <ComponentRef Id="Items" />
            <ComponentRef Id="ItemsStatic" />
            <ComponentRef Id="ItemsTemplates" />

            <ComponentRef Id="Reconciliation" />
            <ComponentRef Id="ReconciliationStatic" />
            <ComponentRef Id="ReconciliationTemplates" />
            
            <ComponentRef Id="Settings" />
            <ComponentRef Id="SettingsStatic" />
            <ComponentRef Id="SettingsTemplates" />

            <ComponentRef Id="DataCore" />
            <ComponentRef Id="BasicData" />

            <ComponentRef Id="StartMenuShortcut" />
        </Feature>

        <Feature Id="ArtshowDemoData" Title="Demo Data" Level="16385" Display="expand">
            <ComponentRef Id="DemoData" />
        </Feature>

        <Property Id="DEFAULT_LANGUAGE">cz</Property>
        <Property Id="DEFAULT_CURRENCY_1">czk</Property>
        <Property Id="DEFAULT_CURRENCY_2">eur</Property>
        <Property Id="DEFAULT_CURRENCY_3">usd</Property>

        <PropertyRef Id="PYTHON_PATH"/>
        <Condition Message="Python version 3.3 (32-bit) or 3.4 (32-bit) not installed on this machine. Install Python prior running this installer.">
            (Installed AND (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")) OR PYTHON_PATH
        </Condition>
        
        <PropertyRef Id="FIREFOX_PATH"/>
        <Condition Message="Firefox version 30.0 or newer not installed on this machine. Install Firefox prior running this installer.">
            (Installed AND (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")) OR FIREFOX_PATH
        </Condition>
        
        <CustomAction Id="InstallAllPythonPackages"
            Execute="deferred"
            FileKey="Install_CheckPython"
            VBScriptCall="InstallAllPythonPackages"
            Return="check"/>
        <CustomAction Id="SetForInstallAllPythonPackages"
            Property="InstallAllPythonPackages"
            Value="PythonPath=[PYTHON_PATH];TempFolder=[TempFolder];InstallDependenciesDir=[InstallDependenciesDir];InstallHelperDir=[InstallHelperDir]"/>

        <Binary Id="Bin_GenerateKey" SourceFile="$(var.SolutionDir)install/generatekey.vbs"/>
        <CustomAction Id="GenerateKey"
            BinaryKey="Bin_GenerateKey"
            VBScriptCall="GenerateKey"
            Return="check" /> 

        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
            <Custom Action="GenerateKey" Before="InstallInitialize">NOT Installed</Custom> 
            <Custom Action="SetForInstallAllPythonPackages" After="InstallFiles">NOT Installed</Custom>
            <Custom Action="InstallAllPythonPackages" After="SetForInstallAllPythonPackages">NOT Installed</Custom>
        </InstallExecuteSequence>  

        <UIRef Id="Artshow_WixUI" />
    </Product>
</Wix>