@media print {
    @page {
        size: auto;
        margin: 0mm;
    }

    div.bidsheet {
        padding: 0;
        margin: 0;
        display: block;
    }
}

@media screen {
    div.bidsheet {
        padding: 0;
        margin: 0;
        margin-top: 6pt;
        display: block;
    }
}
