<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Artshow.css')}}" />
    <meta charset="UTF-8" />
    <title>ArtShow</title>
</head>
<body>
    <h1>ArtShow</h1>
    <form class="main">
        <fieldset>
            <legend>Setup</legend>
            <input class="action" type="submit" formaction="{{url_for('items.enterNewItem')}}" value="New Item" />
            <input class="action" type="submit" formaction="{{url_for('items.listItems')}}" value="Item List" />
            <input class="action" type="submit" formaction="{{url_for('items.selectItemToClose')}}" value="Close Item" />
        </fieldset>
        <fieldset>
            <legend>Auction</legend>
            <input class="action" type="submit" formaction="{{url_for('auction.listItems')}}"
                   value="List Items for Auction" />
            <input class="action" type="button"
                   onclick="window.open('{{url_for('auction.showStatus')}}',
                'ArtshowStatus',
                'menubar=no,scrollbars=no,status=no,toolbar=no,location=no,titlebar=no',
                true)"
                   value="Show Auction Screen" />
            <input class="action" type="submit" formaction="{{url_for('auction.selectItemToAuction')}}"
                   value="Start Auction" />
        </fieldset>
        <fieldset>
            <legend>Handout</legend>
            <input class="action" type="submit" formaction="{{url_for('reconciliation.selectBadgeToReconciliate')}}" value="Reconcile Attendee" />
            <input class="action" type="submit" formaction="{{url_for('reconciliation.showSummary')}}" value="Cash Drawer Info" />
        </fieldset>
    </form>
</body>
</html>
